// Here you can override any of the Sass variables from Open SDG. This is the
// easiest way to change things like colors and dimensions. Below are a few
// examples of variables. For a full list, see this folder:
// https://github.com/open-sdg/open-sdg/tree/master/_sass/variables

//$goal-colors: #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DD1367 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A;
//$goal-banner-background-colors: white white white white white white white white white white white white white white white white white;
//$text-color: #333;
//$text-dark-color: black;
//$text-on-dark-background-color: white;
//$background-color: white;
//$link-color: #337ab7;
//$footer-color: #000000;
