---
# Enter any custom Sass in this file.
---

#main-content.goal-indicators .indicator-cards a {
  padding: 0;
  margin-bottom: 1.5rem;
}
#main-content.goal-indicators .indicator-cards.target {
  margin-bottom: 1.5rem;
  clear: left;
}
