<!---#22 additionalDataAsEmbedded---start------------------------------------------------------------------------------------------------------------------------------------->
<p>
  {% include components/metadata.html scope='add_info' %}
  {% assign additional_information = meta[additional_information] %}
  {{ additional_information }}
</p>
<!---#22 additionalDataAsEmbedded---stop-------------------------------------------------------------------------------------------------------------------------------------->
