
		<!--<p>{{site.data.schema}}</p>-->
<table class="table table-hover">
  {% for indicator_metadata in site.data.schema %}

    {%- if t.metadata_fields[indicator_metadata.name] -%}
      {%- assign metadata_label = t.metadata_fields[indicator_metadata.name] -%}
    {%- else -%}
      {%- assign metadata_label = indicator_metadata.field.label -%}
    {%- endif -%}

    {% if indicator_metadata.field.scope == include.scope %}
      {% unless indicator_metadata.name contains "_url_text" or indicator_metadata.name contains "_link_text"  or indicator_metadata.name == "national_indicator_available"  %}
      <tr>
        <!--#22 additionalDataAsEmbedded---start---------->
        {% if indicator_metadata.field.scope != 'add_info' %}
        <!--#22 additionalDataAsEmbedded---stop----------->

          {% if meta[indicator_metadata.name] %}

            <th scope="row" height="{{ tableHeight }}" >{{ metadata_label }}</th>

            <td colspan="4">
              {% if indicator_metadata.name contains "_url" or indicator_metadata.name contains "_link" %}
                {% assign url_text_name = indicator_metadata.name | replace_first:'_url','_url_text'  %}
                {% assign url_text_name = url_text_name | replace_first:'_link','_link_text'  %}
                {% assign url_text = meta[url_text_name] | t %}
                {% unless url_text %}
                  {% assign url_text = 'Link' %}
                {% endunless %}

                {% if meta[indicator_metadata.name] contains "http" or meta[indicator_metadata.name] contains "mailto" %}
                  <a href="{{ meta[indicator_metadata.name] }}" target="_blank">
                    {{ url_text }} <span class="visuallyhidden">{{ t.general.opens_new_window }}</span>
                  </a>
                {% endif %}

              {% elsif indicator_metadata.field.element == 'multiselect' %}
                {% for item in meta[indicator_metadata.name] %}
                  {{ item | t }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}

              {% else %}
                {{ meta[indicator_metadata.name] | t | markdownify }}
              {% endif %}
            </td>

          {% endif %}

        <!--#22 additionalDataAsEmbedded---start---------->
        {% else %} <!-- case: additional_information -->
          <p> {{ meta[indicator_metadata.name] | markdownify }} </p>
        {% endif %}
        <!--#22 additionalDataAsEmbedded---stop----------->
      </tr>
      {% endunless %}

    {% endif %}
  {% endfor %}
</table>
