<!---#8 addNavigationButtons---start------------------------------------->
{% if current_language == 'ro' %}
  {% assign language = '' %}
{% else %}
  {% assign language = current_language %}
{% endif %}
<!---Indicator page-->
{% if goal_uri %}
  <!---3 Btns if there is a corresponding Indicator-->
  {% if meta.dns_indicator %}
    <div class="col-xs-3 col-md-3 col-lg-4">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b><span class="hidden-sm hidden-xs">{{ t.general.prev_indicator }}</span></b>
      </a>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-4">
      <!--<a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ meta.dns_indicator }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" title="{{ t.general.link_dns_indicator }}" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.indicator_link_dns }}</span> SDG-{{ meta.dns_indicator | replace: "/", "" | replace: "-", "."}}</b>
      </a>-->
	  <a href="#" onClick="alert('The platform is not developed')" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" title="{{ t.general.link_dns_indicator }}" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.indicator_link_dns }}</span> SDG-{{ meta.dns_indicator | replace: "/", "" | replace: "-", "."}}</b>
      </a>
    </div>

    <div class="col-xs-3 col-md-3 col-lg-4">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.next_indicator }}</span></b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  <!---2 Btns if there is no corresponding Indicator-->
  {% else  %}
    <div class="col-xs-6 col-md-6 col-lg-6">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b><span class="hidden-sm hidden-xs">{{ t.general.prev_indicator }}</span></b>
      </a>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.next_indicator }}</span></b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  {% endif %}

<!---Goal page-->
{% else %}
  {% if page.sdg_goal == '1' %}
    {% assign next_goal = '2' %}
    {% assign previous_goal = '17' %}
  {% elsif page.sdg_goal == '17' %}
    {% assign next_goal = '1' %}
    {% assign previous_goal = '16' %}
  {% else %}
    {% assign previous_goal = page.sdg_goal | minus: 1 %}
    {% assign next_goal = page.sdg_goal | plus: 1 %}
  {% endif %}

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ previous_goal }}" class="btn btn-primary btn-block G{{ goal_number }}-background" role="button">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> <b><span class="hidden-sm hidden-xs" style="color:white">{{ t.general.prev_goal }}</span></b>
    </a>
  </div>

  <div class="col-xs-6 col-md-6 col-lg-4">
  <!--<a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ goal_number }}"-->
    <a href="#" onClick="alert('The platform is not developed')" class="btn btn-primary btn-block G{{ goal_number }}-background" title="{{ t.general.link_sdg_goal }}" role="button">
      <b><span class="hidden-sm hidden-xs" style="color:white">{{ t.general.target_link_dns }} {{ t.general.goal }} {{ goal_number }} </span><span class="visible-sm visible-xs" style="color:white">{{ t.general.goal }} {{ goal_number }} {{ t.general.national }}</span></b>
    </a>
  </div>

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ next_goal }}" class="btn btn-primary btn-block G{{ goal_number }}-background" role="button">
      <b><span class="hidden-sm hidden-xs" style="color:white">{{ t.general.next_goal }}</span></b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

{% endif %}
<!--#8 addNavigationButtons---stop-------------------------------------->
